<table cellpadding="0" cellspacing="0" border="0" class="display" id="{{ id }}">
    <thead>
    <tr>
        {% for column in columns %}
            <th>{{ column.mData }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
        {% for column in columns %}
            <th>{{ column.mData }}</th>
        {% endfor %}
    </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function() {
        $('#{{ id }}').dataTable({
            bProcessing     : true,
            sAjaxSource     : "http://devhelp.local/app_dev.php/grid",
            bServerSide     : true,
            "iDisplayLength": 1,
            bLengthChange   : false,
            bInfo           : false,
            sPaginationType : "full_numbers",
            aoColumns: [
                {% for column in columns %}
                    { mData: "{{ column.mData }}", bSearchable: {{ column.bSearchable }}   , sName : "{{ column.sName }}" },
                {% endfor %}
            ]
        });
    });
</script>
