{% javascripts '@DevhelpDatatablesBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="{{ id }}">
    <thead>
    <tr>
        {% for column in config.columns %}
            <th>{{ column.title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        {% for column in config.columns %}
            <th>{{ column.title }}</th>
        {% endfor %}
    </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function() {
        var datatables = $('#{{ id }}').dataTable({
            sAjaxSource     : "{{ path(config.routing) }}",
            iDisplayLength  : {{ config.default_per_page }},
            bServerSide     : true,
            aoColumns: [
                {% for column in config.columns %}
                    { sClass: "option-filtering-{{ column.searchable }}", mData: "{{ column.data }}", bSearchable: "{{ column.searchable }}", sName : "{{ column.alias }}", sTitle: "{{ column.title }}", bVisible: {{ column.visible }}, sWidth: "{{ column.width }}" },
                {% endfor %}
            ]
        });
        {% if(config.use_filters) %}
        datatables.columnFilter();
        {% endif %}

        /* remove input for non filtering field */
        $('.option-filtering-0 input').remove();
        {% for column in config.columns %}
        $('.option-filtering-{{ column.searchable }} input').width("{{ column.width }}");
        {% endfor %}

    });
</script>
